@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap');

/* =============== VARIABLE CSS =============== */
:root {
  /* =============== COLOR =============== */
  --color-primary: #0B485A;
  --color-secondary: #35A7A8;
  --color-dark-grey: #3A3A3A; 
  --color-tosca: #E2F0F1;
  --color-white-bone: #FCF7F4;

}

html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Poppins';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
